*{
	border: 0;
	padding: 0;
	box-sizing: 0;
}

body{
	height: 100vh;
	min-width: 475px;
	max-width: 1440px;
	background-color: #181818;
}

.container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
	margin: 0 auto;
	margin-top: 40px;
	max-width: 600px;
	text-align: center;
}

.container p{
	color: white;
}

.container img{
	height: 90px;
}

.container > div{
	cursor: pointer;
}

.foto-container{
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.foto-container img{
	height: 200px;
}




